//Dryad Workflow Configuration
//Description: Workflow for generating a genomic comparison between HAI/AR samples.
//Author: Kelsey Florek and Abigail Shockey
//email: kelsey.florek@slh.wisc.edu, abigail.shockey@slh.wisc.edu

//#########################
//###Pipeline Parameters###
//#########################

//starting parameters
params.reads = ""
params.outdir = "dryad_results"
params.snp_reference = ""

//PreProcessing
params.name_split_on="_"

//Trimming
params.minlength=10
params.trimdirection="lr"
params.qualitytrimscore=10

//Core-genome alignment
//default alignment method is PRANK
//setting params.roary_mafft to true switches from PRANK to MAFFT
params.roary_mafft = true

//Core-genome tree
params.cg_tree_model = "GTR+G"

//##################
//##Nextflow Tower##
//##################
//tower.accessToken = ''
//tower.enabled = true

//#######################
//###Pipeline Profiles###
//#######################

report.enabled = true
trace.enabled = true

profiles {
  docker {
    includeConfig 'configs/docker.config'
  }
  aws {
    includeConfig 'configs/aws_batch.config'
  }
  singularity {
    includeConfig 'configs/singularity.config'
  }
}
