//#########################
//###Pipeline Parameters###
//#########################

//starting parameters
params.reads = ""
params.outdir = "dryad_results"
params.snp_reference = ""

//PreProcessing
params.name_split_on=""

//Trimming
params.minlength=75
params.windowsize=4
params.qualitytrimscore=30
params.savetrimmedreads=false

//Core-genome alignment
//default alignment method is PRANK
//setting params.roary_mafft to true switches from PRANK to MAFFT
params.roary_mafft = true

//Core-genome tree
params.cg_tree_model = "GTR+G"

//#######################
//###Pipeline Profiles###
//#######################

report.enabled = true
trace.enabled = true

//#####################
//####Docker Params####
//#####################

docker.enabled = true
docker.runOptions = "-u \$(id -u):\$(id -g)"

//#######################
//###Docker Containers###
//#######################

bbtools_container = 'staphb/bbtools:38.76'
fastqc_container = 'staphb/fastqc:0.11.8'
shovill_container = 'staphb/shovill:1.1.0'
quast_container = 'staphb/quast:5.0.2'
samtools_container = 'staphb/samtools:1.10'
kraken_container = 'staphb/kraken2:2.0.8-beta'
linux_container = 'ubuntu:xenial'
cfsan_container = 'staphb/cfsan-snp-pipeline:2.0.2'
iqtree_container = 'staphb/iqtree:1.6.7'
prokka_container = 'staphb/prokka:1.14.5'
roary_container = 'staphb/roary:3.12.0'
multiqc_container = 'ewels/multiqc:1.10.1'
mapping_container = 'quay.io/wslh-bioinformatics/bwa-samtools:0.7.17'
pandas_container = 'quay.io/wslh-bioinformatics/spriggan-pandas:1.3.2'

process {
  cpus = 2
  memory = '4 GB'

  withName:preProcess{
  container = linux_container
  }
  withName:clean_reads{
    container = bbtools_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:fastqc_summary{
    container = fastqc_container
  }
  withName:shovill{
    cpus = 4
    memory = '6 GB'
    container = shovill_container
  }
  withName:samtools{
    container = samtools_container
  }
  withName:coverage_stats{
    container = pandas_container
  }
  withName:cfsan{
    cpus = 8
    memory = '15 GB'
    container = cfsan_container
  }
  withName:snp_tree{
    cpus = 4
    memory = '6 GB'
    container = iqtree_container
  }
  withName:prokka{
    cpus = 4
    memory = '6 GB'
    container = prokka_container
  }
  withName:roary{
    cpus = 8
    memory = '15 GB'
    container = roary_container
  }
  withName:cg_tree{
    cpus = 4
    memory = '6 GB'
    container = iqtree_container
  }
  withName:kraken{
    cpus = 2
    memory = '4 GB'
    container = kraken_container
  }
  withName:kraken_summary{
    container = pandas_container
  }
  withName:multiqc{
    container = multiqc_container
  }
  withName:mapping{
    cpus = 4
    memory = '6 GB'
    container = mapping_container
  }
  withName:mapping_stats{
    container = pandas_container
  }
  withName:prokka_setup{
    container = pandas_container
  }
  withName:quast{
    container = quast_container
  }
  withName:quast_summary{
    container = pandas_container
  }
  withName:bbduk_summary{
    container = pandas_container
  }
  withName:merge_results{
    container = pandas_container
  }
}
