bbtools_container = 'staphb/bbtools:38.76'
fastqc_container = 'staphb/fastqc:0.11.8'
shovill_container = 'staphb/shovill:1.1.0'
quast_container = 'staphb/quast:5.0.2'
samtools_container = 'staphb/samtools:1.10'
kraken_container = 'staphb/kraken2:2.0.8-beta'
linux_container = 'ubuntu:xenial'
cfsan_container = 'staphb/cfsan-snp-pipeline:2.0.2'
iqtree_container = 'staphb/iqtree:1.6.7'
prokka_container = 'staphb/prokka:1.14.5'
roary_container = 'staphb/roary:3.12.0'
multiqc_container = 'quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0'
mapping_container = 'staphb/bwa:0.7.17'
pandas_container = 'quay.io/wslh-bioinformatics/spriggan-pandas:1.3.2'
