docker.enabled = true
fixOwnership = true

includeConfig 'docker_containers.config'

process {

  withName:trim{
    container = trimmomatic_container
  }
  withName:cleanreads{
    container = bbtools_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:shovill{
    container = shovill_container
  }
  withName:multiqc{
    container = multiqc_container
  }
  withName:quast{
    container = quast_container
  }
  withName:prokka{
    container = prokka_container
  }
  withName:roary{
    container = roary_container
  }
  withName:cg_tree{
    container = iqtree_container
  }
  withName:snp_tree{
    container = iqtree_container
  }
  withName:cfsan{
    container = cfsan_container
  }
}
