singularity.enabled = true

//singularity image cache, uncomment to change from workdir
//singularity.cacheDir = ""

includeConfig 'docker_containers.config'

process {
  cpus = 4
  memory = '8 GB'

  withName:preProcess{
  container = linux_container
  }
  withName:clean_reads{
    container = bbtools_container
  }
  withName:fastqc{
    container = fastqc_container
  }
  withName:fastqc_summary{
    container = fastqc_container
  }
  withName:shovill{
    cpus = 8
    memory = '16 GB'
    container = shovill_container
  }
  withName:samtools{
    container = samtools_container
  }
  withName:assembly_coverage_stats{
    container = pandas_container
  }
  withName:reference_mapping_stats{
    container = pandas_container
  }
  withName:cfsan{
    cpus = 8
    memory = '16 GB'
    container = cfsan_container
  }
  withName:snp_tree{
    cpus = 8
    memory = '16 GB'
    container = iqtree_container
  }
  withName:prokka{
    cpus = 8
    memory = '16 GB'
    container = prokka_container
  }
  withName:roary{
    cpus = 8
    memory = '16 GB'
    container = roary_container
  }
  withName:cg_tree{
    cpus = 8
    memory = '16 GB'
    container = iqtree_container
  }
  withName:kraken{
    cpus = 8
    memory = '16 GB'
    container = kraken_container
  }
  withName:kraken_summary{
    container = pandas_container
  }
  withName:multiqc{
    container = multiqc_container
  }
  withName:bwa{
    cpus = 8
    memory = '16 GB'
    container = mapping_container
  }
  withName:prokka_setup{
    container = pandas_container
  }
  withName:quast{
    container = quast_container
  }
  withName:quast_summary{
    container = pandas_container
  }
  withName:bbduk_summary{
    container = pandas_container
  }
  withName:merge_results{
    container = pandas_container
  }
}
